* {
  box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.parent {
  min-height: 100%;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.home-screen {
  display: flex;
  flex-direction: column;
}

.left-side {
  width: 100%;
}

#desktop-img {
  display: none;
}

#mobile-img {
  width: 100%;
  height: auto;
}

.right-side {
  width: 100%;
}

.right-content {
  margin-left: 3%;
  margin-right: 3%;
}

.welcome-message {
  
}

.scroll-message {
  display: none;
  
}

.scroll-message a {
  margin: 10px;
  text-decoration: none;
  padding: 5px 30px;
  border: 1px solid gray;
}

.latest-work {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 60px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.project-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-item {
  height: 300px;
  width: 300px;
  border: 1px solid blue;
  text-align: center;
  padding-top: 20px;
}

.project-item:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.contact a {
  padding: 20px;
  text-decoration: none;
  border: 1px solid gray;
}

.contact a:hover {
  cursor: pointer;
}

.footer {
  background-color: rgb(54, 54, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.footer p {
 font-size: 14px;
 margin:0;
}

@media all and (min-width: 600px) {
  .home-screen {
    flex-direction: row;
  }

  .left-side {
    width: 50%;
  }

  #desktop-img {
    display: inline;
    width: 100%;
    height: auto;
  }
  
  #mobile-img {
   display: none;
  }

  .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .right-content {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
  }

  .scroll-message {
    margin-top: 30%;
    display: inline;
    text-align: center;
  }

  .project-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

}


