* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
}

.home-screen {
  display: flex;
  border: 1px solid green;
  max-width: 1400px;
}

.left-side {
  border: 1px solid red;
  width: 50%;
}

.hero-shot img {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
}

.right-side {
  border: 1px solid blue;
  width: 50%;
  background-color: white;
  position: relative;
}

.welcome-message {
  position: absolute;
  margin-left: 5%;
  margin-top: 20%;
}

.scroll-message {
  position: absolute;
  bottom: 10px;
  left: 20%;
}

