* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
  padding: 15px;
  
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-left: 15%;
  margin-right: 5%;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 5% 20px 5%;
  max-width: 1400px;
}

.left {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.banner .title {
  margin-left: 5%;
}

.title h1 {
  font-size: 28px;
  margin:0;
}

.content h3, .middle-grp h3 {
  font-size: 18px;
}

.content p, .challenge-details, .tech-used-list {
  font-size: 12px;
}

.banner .content {
  line-height: 1.5;
  margin-top: 40px;
  color: rgb(97, 96, 96);
}

.site-link a {
  text-decoration: none;
  font-size: 12px;
}

.right {
  display: flex;
  justify-content: center;
}

.homescreen-screenshot img {
  width: auto;
  height:350px;
}

.middle-grp-wrapper {
  background-color: rgb(250, 246, 246);
  border-bottom: 1px solid darkgray;
}

.middle-grp {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.challenges {
  padding-bottom: 20px;
}

.challenge-details, .tech-used-list {
  margin-left: 10px;
  line-height: 1.5;
}

.footer {
  background-color: rgb(54, 54, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.footer p {
 font-size: 14px;
 margin:0;
}

@media all and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: 60px 10% 0px 10%;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .homescreen-screenshot img {
    width: auto;
    height:250px;
  }

  .middle-grp-wrapper {
    display: flex;
  }

  .middle-grp {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .challenge-details, .tech-used-list {
    margin-left: 0;
  }

  .challenges {
    width: 50%;
    margin-right: 60px;
  }

  .tech-used {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 1000px) {

  nav {
    margin: 0;
    padding: 15px;
  }
  
  .nav-links {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1200px;
  }

  .container {
    margin: 60px 15% 20px 15%;
  }

  .title h1 {
    font-size: 46px;
  }
  
  .content h3, .middle-grp h3 {
    font-size: 24px;
  }
  
  .content p, .challenge-details, .tech-used-list {
    font-size: 16px;
  }

  .site-link a {
    font-size: 16px;
  }

  .homescreen-screenshot img {
    width: auto;
    height:400px;
  }

  .middle-grp-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .middle-grp {
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    max-width: 1400px;
  }

  .challenges, .tech-used {
    font-size: 16px;
  }
  
}