* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* --- Text Formatting ---*/
h1  {font-size: 28px;}
h3  {font-size: 18px;}
p   {font-size: 14px;}
a   {font-size: 14px; text-decoration: none;}

/* --- Nav Bar ---*/
nav {
  background-color: rgb(32, 32, 32);
  color: white;
  margin: 0;
  padding: 10px;
  position: sticky;
  top:0;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-links a {
  color: white;
  margin-bottom: 10px;
  margin-right: 20px;
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
  border-top: 5px solid white;
  border-radius: 5px;
  content: "";
  position: absolute;
    right: 105%;
    bottom: -10px;
    left: 0;
  transition: right .4s ease-in-out;
}

.nav-links a:hover::after {
  right: 0;
}

/*--- Main Content ---*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 5% 20px 5%;
  max-width: 1400px;

}

.left {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.banner .title {
  margin-left: 5%;
}

.title h1 {
  margin:0;
}

.content {
  line-height: 1.5;
  margin-top: 40px;
  color: rgb(97, 96, 96);
}

.site-link {
  margin-top: 20px;
}

.right {
  display: flex;
  justify-content: center;
}

.homescreen-screenshot img {
  width: auto;
  height:350px;
}

.asapPoke-homescreen {
  width: 350px !important;
  height: auto !important;
}

.wip-img img {
  width: auto;
  height: 150px;
}

.middle-grp-wrapper {
  background-color: rgb(250, 246, 246);
  border-bottom: 1px solid darkgray;
}

.middle-grp {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.challenges {
  padding-bottom: 20px;
}

.challenge-details, .tech-used-list {
  margin-left: 10px;
  line-height: 1.5;
}

/* --- Footer ---*/
.footer {
  background-color: rgb(54, 54, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.footer p {
 margin:0;
}

@media all and (min-width: 600px) {
  h1   {font-size: 32px;}
  h3   {font-size: 20px;}
  p, a {font-size: 14px;}

  .container {
    display: flex;
    flex-direction: row;
    margin: 60px 10% 0px 10%;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homescreen-screenshot img {
    width: auto;
    height:250px;
  }

  .middle-grp-wrapper {
    display: flex;
  }

  .middle-grp {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .challenge-details, .tech-used-list {
    margin-left: 0;
  }

  .challenges {
    width: 50%;
    margin-right: 60px;
  }

  .tech-used {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media all and (min-width: 1000px) {
  h1   {font-size: 42px;}
  h3   {font-size: 24px;}
  p, a {font-size: 16px;}

  .container {
    margin: 60px 10% 20px 10%;
  }

  .homescreen-screenshot img {
    width: auto;
    height:380px;
  }

  .asapPoke-homescreen {
    width: auto !important;
    height: 250px !important;
  }

  .wip-img img {
    width: auto;
    height: 200px;
  }

  .middle-grp-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .middle-grp {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1400px;
  }

}