* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 1400px;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin: 60px 15% 80px 15%;
  max-width: 1400px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.banner .title {
  margin-left: 5%;
}

.title h1 {
  font-size: 46px;
  margin:0;
}

.banner .content {
  line-height: 1.5;
  margin-top: 40px;
  color: rgb(97, 96, 96);
}

.container .right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.new-pic img {
  width: auto;
  height:400px;
  border-radius: 400px;
}

.middle-grp {
  background-color: rgb(248, 246, 246);
  padding-top: 100px;
  padding-bottom: 100px;
}

ul {
  padding: 0;
  margin:0;
}

li {
  list-style: none;
  line-height: 1.75;
}

.code-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 1400px;
}

.design-grp {
  min-width: 200px;
}

.code-grp {
  padding-left: 40px;
}

.cartoon img {
  height: auto;
  width: 100%;
  border-radius: 10px;

}

.random-facts .left {
  width: 50%;
  padding-left: 40px;
}

.random-facts .right {
  width: 50%;
}

.random-facts-img img {
  width: 100%;
  height: auto;
}

.random-facts {
  display: flex;
  align-items: center;
  
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
}

.footer p {
 border: solid 1px white;
 padding: 40px;
}